LEGEND/config.py
LEGEND/*.session
LEGEND/*.session-journal
LEGEND/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
LEGEND/modules/helper_funcs/temp.txt
LEGEND/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
LEGEND.session-journal
updates.txt
*.exe
LEGENDBOT
str
